.capa{
width: auto;
height: 60px;

background-color: transparent;
display: flex;
justify-content: left;
margin: 1px;
padding: 4px;
}
div{
    height: 50px;
    width: 50px;
    margin: 10.8px;
}
.main{
    margin-top: 25px;
   width: 1300px;
   height: auto;
    background-color: rgba(128, 128, 128, 0.379);
   border-color: white;
   border-style: solid;
   border-radius:100px;
   border-width: 5px;
    padding: 10px;
display: grid;

    
    
    

}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url("../imagen/wallpaper.webp");
}
.naranja{
    height: 60px;
    width: 60px;
    margin: 1px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
   background-color: orange;
   float: left;
   border-radius: 5px;
   box-shadow: inset 0 0 8px rgb(0, 0, 0);
   margin-left: 5px;
   margin-right: 5px;
   
   }

.azulito{
    height: 60px;
    width: 60px;
    margin: 1px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
   background-color: turquoise;
   float: left;
   border-radius: 5px;
   box-shadow:  inset 0 0 8px rgb(0, 0, 0);
   margin-left: 5px;
   margin-right: 5px;
}
.verde{
    height: 60px;
    width: 60px;
    margin: 1px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
   background-color:green ;
   float: left;
   border-radius: 5px;
   box-shadow: inset 0 0 8px rgb(0, 0, 0);
   margin-left: 5px;
   margin-right: 5px;
}
.verdecito{
    height: 60px;
    width: 60px;
    margin: 1px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
   background-color: greenyellow;
   float: left;
   border-radius: 5px;
   box-shadow:  inset 0 0 8px rgb(0, 0, 0);
   margin-left: 5px;
   margin-right: 5px;
}
.verdoso{
    height: 60px;
    width: 60px;
    margin: 1px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
   background-color: rgb(104, 190, 78);
   float: left;
   border-radius: 5px;
   box-shadow: inset 0 0 8px rgb(0, 0, 0);
   margin-left: 5px;
   margin-right: 5px;
}
.shrek{
    height: 60px;
    width: 60px;
    margin: 1px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
   background-color: rgb(0, 170, 40);
   float: left;
   border-radius: 5px;
   box-shadow: inset 0 0 8px rgb(0, 0, 0);
   margin-left: 5px;
   margin-right: 5px;
}
.morado{
    height: 60px;
    width: 60px;
    margin: 1px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
   background-color: purple;
   float: left;
   border-radius: 5px;
   box-shadow: inset 0 0 8px rgb(0, 0, 0);
   margin-left: 5px;
   margin-right: 5px;
}
.rojo{
    height: 60px;
    width: 60px;
    margin: 1px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
   background-color: red;
   float: left;
   border-radius: 5px;
   box-shadow: inset 0 0 8px rgb(0, 0, 0);
   margin-left: 5px;
   margin-right: 5px;
}
.amarillo{
    height: 60px;
    width: 60px;
    margin: 1px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
   background-color: rgb(226, 226, 2);
   float: left;
   border-radius: 5px;
   box-shadow: inset 0 0 8px rgb(0, 0, 0);
   margin-left: 5px;
   margin-right: 5px;
}
.marino{
    height: 60px;
    width: 60px;
    margin: 1px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
   background-color: rgb(0, 0, 191);
   float: left;
   border-radius: 5px;
   box-shadow:inset 0 0 8px rgb(0, 0, 0);
   margin-left: 5px;
   margin-right: 5px;

}
h1{
    color: rgb(255, 255, 255);
    font-family: "bubblegum",sans-serif;
    font-weight: bold;

}
p{
    color:  rgb(78, 1, 49);
    font-family: "bubblegum", sans-serif;
   
    font-size: large;
    margin-top:5px;
    margin-bottom: 0;
}
.text{
    color: rgb(78, 1, 49);
    font-family: "bubblegum", sans-serif;
    font-size: x-small;
    margin:0;
}
.datos{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    margin: 4px;
}
@font-face {
    font-family: "bubblegum";
    src: url(/fuentes/bubblegum/Bubblegum.ttf) format("truetype");

    font-weight: bold;
    font-style: bold;
}